html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 660px;
    width: 460px;
    border-style: solid;
    background-color: darkslateblue;
    border-radius: 15px;;
}

.screen {
    height: 150px;
    width: 415px;
    background-color: lightgray; 
    border-style: solid;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 10px;
}

.bottom {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 470px;
    width: 415px;
    border-style: solid;
    background-color: darkslategray;
    border-radius: 5px;

}

.btn {
    font-size: 2rem;
    border-radius: 8%;
    position: relative;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

.calculations {
    /*height: 50%;*/
    padding-right: 3%;
    font-size: 7rem;
    display: flex;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

button:hover {
    background-color: lightgray;
}

button:active {
    top: 1px;
    left: 1px;
}